.ui-jqgrid-view th.ui-th-column{
    height: 50px !important;
    border: 0 !important;
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid #e8e8ea !important;
    color: var(--gray-29) !important;
    text-align: center !important;
    font-weight: bold !important;
    word-break: break-all !important;
    vertical-align: middle !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 2.0 !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-transform: capitalize !important;
}

.ui-jqgrid-view td {
    padding: 8px 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #e8e8ea !important;
    /* color: var(--gray-11) !important; */
    color: var(--gray-11);
    word-break: break-all !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-stretch: normal !important;
    line-height: 1.6 !important;
    letter-spacing: -0.1px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.ui-widget-content.jqgfirstrow.ui-row-ltr {
    height:0px !important;
    margin:0 !important;
}
.ui-widget-content.jqgfirstrow.ui-row-ltr td {
    padding:0 !important;
    margin:0 !important;
}